# Copia a .env y completa (no subir a GitHub)

AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROJECT_SUFFIX=tu-sufijo

RDS_DB_NAME=plantdisease
RDS_MASTER_USERNAME=plantadmin
RDS_MASTER_PASSWORD=
DATABASE_URL=postgresql://plantadmin:PASSWORD@endpoint.rds.amazonaws.com:5432/plantdisease

S3_ARTIFACTS_BUCKET=plant-artifacts-tu-sufijo
S3_DATALAKE_BUCKET=plant-datalake-tu-sufijo
S3_WEB_BUCKET=plant-web-tu-sufijo

EC2_INSTANCE_TYPE=t3.micro
